include ./components/_header.pug
include ./mixin/_mixin.pug
.pickup.wrapper
  +pick
  +pick
  +pick
.container.wrapper
  main
    +article
    +article
    +article 
  aside 
    section.profile
      img(src="src/img/noimage.png", alt="")
      h3.sidetitle name
      p プロフィールテキストテキストテキストテキストテキストテキストテキスト テキストテキストテキストテキストテキストテキストテキストテキストテキスト テキストテキストテキストテキストテキストテキストテキストテキストテキスト
    section.ranking
      h3.sidetitle タイトル
      +ranking
      +ranking
      +ranking


include ./components/_footer.pug
