include ./components/_header.pug
include ./mixin/_mixin.pug
.pickup.wrapper
  +pick
  +pick
  +pick
.continer.wrapper
  main
    +article
    +article
    +article 
  aside 


include ./components/_footer.pug
