
<footer class="footer">
  <div class="wrapper">
    <secction class="item">
      <h3 class="footer-title">about</h3>
      <p class="footer__text">テキストテキストテキストテキストテキストテキストテキストテキストテキストテキスト テキストテキストテキストテキストテキストテキストテキストテキストテキストテキスト テキストテキストテキストテキストテキストテキストテキストテキストテキストテキスト</p>
      <ul class="footer__list">
        <li class="footer__item"><a href="#">link </a></li>
        <li class="footer__item"><a href="#">link </a></li>
        <li class="footer__item"><a href="#">link </a></li>
      </ul>
    </secction>
    <secction class="item">
      <h3 class="footer-title">menu</h3>
      <ul class="footer__list">
        <li class="footer__item"><a href="#">link</a></li>
        <li class="footer__item"><a href="#">link</a></li>
        <li class="footer__item"><a href="#">link</a></li>
        <li class="footer__item"><a href="#">link</a></li>
        <li class="footer__item"><a href="#">link</a></li>
        <li class="footer__item"><a href="#">link</a></li>
      </ul>
    </secction>
    <secction class="item">
      <h3 class="footer-title">twitter</h3>
      <div class="footer__box"></div>
    </secction>
  </div>
  <p class="footer__copy">テキストテキストテキスト</p>
</footer>