<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="src/css/style.css">
    <title>04</title>
  </head>
  <body>
    <header class="header">
      <div class="header__logo wrapper">
        <h1>LOGO</h1>
      </div>
      <nav class="header__nav">
        <ul class="header__list wrapper">
          <li class="header__list-item"><a class="header__list-link" href="#">list</a></li>
          <li class="header__list-item"><a class="header__list-link" href="#">list</a></li>
          <li class="header__list-item"><a class="header__list-link" href="#">list</a></li>
          <li class="header__list-item"><a class="header__list-link" href="#">list</a></li>
        </ul>
      </nav>
    </header>
  </body>
</html>