html {
  font-size: 62.5%;
}

body {
  margin: 0;
  font-size: 1.6rem;
  background-color: rgb(214, 214, 214);
}

ul {
  padding: 0;
}

li {
  list-style: none;
}

dd {
  padding: 0;
  margin: 0;
}

.wrapper {
  max-width: 1000px;
  margin: 0 auto;
}

.sectitle {
  text-align: center;
  font-size: 2.4rem;
  margin-bottom: 80px;
}

.link {
  display: block;
  text-align: center;
  color: #333;
  font-size: 2rem;
}

.header {
  padding: 80px 0;
  &__flex {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  &__logo {
    font-size: 3rem;
  }
  &__list {
    display: flex;
    align-items: center;
    &-item {
      margin-left: 30px;
    }
    &-link {
      text-decoration: none;
      color: #333;
    }
  }
}

.bg {
  background-image: url(../img/noimage.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 500px;
  margin-bottom: 80px;
}

.works {
  margin-bottom: 120px;
  &__list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: 80px;
    &-item {
      width: 31%;
      margin-bottom: 20px;
      img {
        max-width: 100%;
      }
    }
  }
}

.news {
  margin-bottom: 120px;
  &__area {
    display: flex;
    flex-wrap: wrap;
    border-top: 1px solid #000;
    margin-bottom: 80px;
    &-date {
      width: 30%;
      border-bottom: 1px solid #000;
      padding: 12px 0;
    }
    &-text {
      width: 70%;
      border-bottom: 1px solid #000;
      padding: 12px 0;
    }
  }
}

.footer {
    background-color: #000;
    padding: 4px 0;
  &__copy {
    text-align: center;
    color: #fff;
    margin: 0;
  }
}