doctype html
html(lang="ja")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    link(rel="stylesheet", href="style.css")
    title 04
  body
    header
      .header__logo.wrapper
        h1 LOGO
      nav.header__nav
        ul.header__list.wrapper
          li.header__list-item
            a.header__list-link(href="#") list
          li.header__list-item
            a.header__list-link(href="#") list
          li.header__list-item
            a.header__list-link(href="#") list
          li.header__list-item
            a.header__list-link(href="#") list