html {
  font-size: 62.5%;
}

body {
  margin: 0;
  font-size: 1.6rem;
  color: #333;
  background-color: #F0F0F0;
}

p {
  margin: 0;
}

.wrapper {
  max-width: 1000px;
  margin: 0 auto;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.sectitle {
  position: relative;
  margin-bottom: 60px;
}
.sectitle::after {
  content: "";
  position: absolute;
  bottom: -20px;
  left: 0;
  width: 50px;
  height: 1px;
  background-color: #333;
}
.sectitle__en {
  display: block;
  font-size: 3rem;
}
.sectitle__ja {
  display: block;
  font-size: 1.4rem;
}

.header__flex {
  position: fixed;
  width: 100%;
  height: 80px;
  background-color: #a2a2a2;
  z-index: 3;
  display: flex;
  justify-content: space-between;
}
.header__flex-left {
  padding-left: 40px;
  width: 1000px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header__nav-list {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header__nav-item {
  margin-left: 24px;
}
.header__nav-item a {
  font-size: 2rem;
  color: #333;
}
.header__link {
  width: 200px;
  height: 80px;
  line-height: 80px;
  text-align: center;
  display: block;
  background-color: #ffffff;
  color: #333;
  font-size: 2rem;
}

.bg {
  background-image: url(/03/src/img/noimage.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
  margin-bottom: 120px;
}

.news {
  margin-bottom: 120px;
}
.news__list {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.news__item-area {
  margin-bottom: 8px;
}
.news__item-date {
  margin-right: 16px;
}
.news__item-title {
  background-color: #333;
  color: #ffffff;
  font-size: 1.2rem;
  padding: 4px;
}

.about {
  margin-bottom: 120px;
}
.about__flex {
  display: flex;
  justify-content: space-between;
}
.about__flex-img {
  width: 60%;
}
.about__flex-img img {
  width: 100%;
  height: 400px;
}
.about__flex-text {
  width: 40%;
  padding: 160px 50px 0;
}

.business {
  margin-bottom: 120px;
}
.business__flex {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 0 15%;
}
.business__left {
  width: 46%;
  padding-top: 120px;
}
.business__left li {
  margin-bottom: 80px;
}
.business__left li img {
  max-width: 100%;
}
.business__right {
  width: 46%;
}
.business__right li {
  margin-bottom: 80px;
}
.business__right li img {
  max-width: 100%;
}
.business__title {
  display: block;
  margin-left: 40px;
  margin-bottom: 20px;
  position: relative;
}
.business__title::before {
  content: "";
  position: absolute;
  width: 16px;
  height: 1px;
  top: 50%;
  left: -36px;
  background-color: #333;
}

.company {
  display: flex;
  align-items: center;
  position: relative;
}
.company__text {
  width: 40%;
  padding: 40px 80px;
  background-color: #8e8e8e;
}
.company__img {
  width: 50%;
  position: absolute;
  right: 4%;
}
.company__img img {
  width: 600px;
  height: 400px;
}
.company__info {
  display: flex;
  flex-wrap: wrap;
}
.company__info dt {
  width: 30%;
}
.company__info dd {
  width: 60%;
  margin: 0;
}

/*# sourceMappingURL=style.css.map */
