mixin pick()
  article.pickup__item
    img(src="src/img/noimage.png", alt="")
    strong タイトルテキストテキストテキストテキストテキストテキストテキスト
    .more
      a.link(href="#") more

mixin article ()
  article.article__item
    h2.sectitle タイトルテキストテキストテキストテキストテキスト
    ul.article__box
      li.article__date
        a(href="#") 2022.10.10
      li.article__date
        a(href="#") カテゴリー
    img(src="src/img/noimage.png", alt="")
    p 本文テキストテキストテキストテキストテキストテキストテキストテキスト テキストテキストテキストテキストテキストテキストテキストテキストテキスト テキストテキストテキストテキストテキストテキストテキストテキストテキスト
    .more
      a.link(href="#") more
        
mixin ranking ()
  article.ranking__item
    a(href="#")
      img(src="src/img/noimage.png", alt="")
      p タイトルテキストテキストテキストテキストテキストテキスト


