html {
  font-size: 62.5%;
}

body {
  margin: 0;
  font-size: 1.6rem;
  color: #333;
  background-color: #F0F0F0;
}

p {
  margin: 0;
}

.wrapper {
  max-width: 1000px;
  margin: 0 auto;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.sectitle {
  position: relative;
  margin-bottom: 60px;
  &::after {
    content: "";
    position: absolute;
    bottom: -20px;
    left: 0;
    width: 50px;
    height: 1px;
    background-color: #333;
  }
  &__en {
    display: block;
    font-size: 3rem;
  }
  &__ja {
    display: block;
    font-size: 1.4rem;
  }
}

.header {
  &__flex {
    position: fixed;
    width: 100%;
    height: 80px;
    background-color: #a2a2a2;
    z-index: 3;
    display: flex;
    justify-content: space-between;
    &-left {
      padding-left: 40px;
      width: 1000px;
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
  }
  &__nav {
    &-list {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
    &-item {
      margin-left: 24px;
      a {
        font-size: 2rem;
        color: #333;
      }
    }
  }
  &__link {
    width: 200px;
    height: 80px;
    line-height: 80px;
    text-align: center;
    display: block;
    background-color: #ffffff;
    color: #333;
    font-size: 2rem;
  }
}

.bg {
  background-image: url(/03/src/img/noimage.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
  margin-bottom: 120px;
}

.news {
  margin-bottom: 120px;
  &__list {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  &__item {
    &-area {
      margin-bottom: 8px;
    }
    &-date {
      margin-right: 16px;
    }
    &-title {
      background-color: #333;
      color: #ffffff;
      font-size: 1.2rem;
      padding: 4px;
    } 
  }
}

.about {
  margin-bottom: 120px;
  &__flex {
    display: flex;
    justify-content: space-between;
    &-img {
      width: 60%;
      img {
        width: 100%;
        height: 400px;
      }
    }
    &-text {
      width: 40%;
      padding: 160px 50px 0;
    }
  }
}
.business {
  margin-bottom: 120px;
  &__flex {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 0 15%;
  }
  &__left {
    width: 46%;
    padding-top: 120px;
    li {
      margin-bottom: 80px;
      img {
        max-width: 100%;
      }
    }
  }
  &__right {
    width: 46%;
    li {
      margin-bottom: 80px;
      img {
        max-width: 100%;
      }
    }
  }
  &__title {
    display: block;
    margin-left: 40px;
    margin-bottom: 20px;
    position: relative;
    &::before {
      content: "";
      position: absolute;
      width: 16px;
      height: 1px;
      top: 50%;
      left: -36px;
      background-color: #333;
    }
  }
}

.company {
  display: flex;
  align-items: center;
  position: relative;
  &__text {
    width: 40%;
    padding: 40px 80px;
    background-color: #8e8e8e;
  }
  &__img {
    width: 50%;
    position: absolute;
    right: 4%;
    img {
      width: 600px;
      height: 400px;
    }
  }
  &__info {
    display: flex;
    flex-wrap: wrap;
    dt {
      width: 30%;
    }
    dd {
      width: 60%;
      margin: 0;
    }
  }
}
